[Unit]
Description=Enable USB Switch
After=network.target
Conflicts=usb-gadget-rndis.service
Conflicts=usb-gadget-acm.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/gpioset gpiochip1 5=1"
ExecStart=/bin/bash -c "/usr/bin/gpioset gpiochip0 30=1"

[Install]
WantedBy=multi-user.target