[Unit]
Description=RNDIS USB Gadget Support
After=network.target
Before=usb-gadget.service
Conflicts=usb-gadget-acm.service
Conflicts=usb-switch.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/bin/echo device > /proc/cviusb/otg_role"
ExecStart=sh /usr/sbin/run_usb.sh probe rndis
ExecStart=sh /usr/sbin/run_usb.sh start

[Install]
WantedBy=multi-user.target